In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
remove_names_df = application_df.drop(columns=['EIN','NAME'],axis=1)
remove_names_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Cleaning Application Types

In [4]:
remove_name_counts = remove_names_df.APPLICATION_TYPE.value_counts()
remove_name_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
app_type = remove_name_counts[remove_name_counts < 1000].index

for i in app_type:
    remove_names_df.APPLICATION_TYPE = remove_names_df.APPLICATION_TYPE.replace(i,'Other')

In [6]:
remove_names_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Cleaning Affiliation

In [8]:
remove_names_df.AFFILIATION.value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [9]:
# CLeaning Classification

In [10]:
class_counts = remove_names_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
class_remove = class_counts[class_counts < 800].index

for item in class_remove:
    remove_names_df.CLASSIFICATION = remove_names_df.CLASSIFICATION.replace(item,'Other')

In [12]:
remove_names_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Cleaning Use Case
remove_names_df.USE_CASE.value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [14]:
# Cleaning Organization
remove_names_df.ORGANIZATION.value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [15]:
# Cleaning Status
remove_names_df.STATUS.value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [16]:
# Cleaning Income Amount
remove_names_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [17]:
# Cleaning Special Considerations
remove_names_df.SPECIAL_CONSIDERATIONS.value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [18]:
# Cleaning Ask Amount
remove_names_df.ASK_AMT.value_counts()

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [19]:
# This is incredibly messy, will drop this column for now and re-evaluate accuracy.
remove_names_df = remove_names_df.drop(columns=['ASK_AMT'])
remove_names_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,0

In [20]:
# One Hot Encoder
categorical_vars = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS']


# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
array_encoded = enc.fit_transform(remove_names_df[categorical_vars])
encode_df = pd.DataFrame(array_encoded)

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(categorical_vars)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
merged_df = pd.concat([remove_names_df,encode_df],axis=1)
merged_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,Other,Independent,C1000,ProductDev,Association,1,0,N,1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [22]:
merged_df = merged_df.drop(columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','SPECIAL_CONSIDERATIONS','INCOME_AMT'],axis=1)

In [23]:
merged_df

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [51]:
# Split the data 
y = merged_df.IS_SUCCESSFUL.values
X = merged_df.drop(columns=['IS_SUCCESSFUL'],axis=1).values

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [52]:
# Scale the data
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [58]:
num_input = len(X_train[0])
num_input

39

In [53]:
# Create Neural Network
num_input = len(X_train[0])

nn = tf.keras.models.Sequential()

# First Hidden Layer
nn.add(tf.keras.layers.Dense(units=100,input_dim=num_input,activation='relu'))

# Second Hidden Layer
nn.add(tf.keras.layers.Dense(units=50,activation='relu'))

# Third Hidden Layer
nn.add(tf.keras.layers.Dense(units=10,activation='relu'))

# Output Layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [54]:
nn.summary()

Model: "sequential_10"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 100)               4000

 dense_19 (Dense)            (None, 50)                5050

 dense_20 (Dense)            (None, 10)                510

 dense_21 (Dense)            (None, 1)                 11

=================================================================
Total params: 9,571
Trainable params: 9,571
Non-trainable params: 0
_________________________________________________________________

In [55]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [56]:
import os
from keras.callbacks import ModelCheckpoint

os.makedirs("optimized_checkpoints/",exist_ok=True)
checkpoint_path = "optimized_checkpoints/weights.{epoch:02d}.hdf5"

cp_callback = ModelCheckpoint(filepath=checkpoint_path,verbose=1,save_weights_only=True,save_freq='epoch',period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [57]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=200,callbacks=[cp_callback])

Epoch 1/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5724 - accuracy: 0.7203
Epoch 2/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5579 - accuracy: 0.7291
Epoch 3/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5545 - accuracy: 0.7282
Epoch 4/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7311
Epoch 5/200
789/804 [============================>.] - ETA: 0s - loss: 0.5524 - accuracy: 0.7304
Epoch 5: saving model to optimized_checkpoints/weights.05.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7304
Epoch 6/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7315
Epoch 7/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7327
Epoch 8/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7325
Epoch 9/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7338
Epoch 10/200
785/804 [============================>.] - ETA: 0s - loss: 0.5492 - accuracy: 0.7332
Epoch 10: saving model to optimized_checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7339
Epoch 11/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7336
Epoch 12/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7334
Epoch 13/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7350
Epoch 14/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7346
Epoch 15/200
782/804 [============================>.] - ETA: 0s - loss: 0.5477 - accuracy: 0.7351
Epoch 15: saving model to optimized_checkpoints/weights.15.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7353
Epoch 16/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7344
Epoch 17/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7343
Epoch 18/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7346
Epoch 19/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7353
Epoch 20/200
771/804 [===========================>..] - ETA: 0s - loss: 0.5450 - accuracy: 0.7369
Epoch 20: saving model to optimized_checkpoints/weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7362
Epoch 21/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7363
Epoch 22/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7362
Epoch 23/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7355
Epoch 24/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7362
Epoch 25/200
800/804 [============================>.] - ETA: 0s - loss: 0.5439 - accuracy: 0.7366
Epoch 25: saving model to optimized_checkpoints/weights.25.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7364
Epoch 26/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7362
Epoch 27/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7366
Epoch 28/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7367
Epoch 29/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7365
Epoch 30/200
798/804 [============================>.] - ETA: 0s - loss: 0.5425 - accuracy: 0.7361
Epoch 30: saving model to optimized_checkpoints/weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7357
Epoch 31/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7370
Epoch 32/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7375
Epoch 33/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7374
Epoch 34/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7379
Epoch 35/200
762/804 [===========================>..] - ETA: 0s - loss: 0.5412 - accuracy: 0.7377
Epoch 35: saving model to optimized_checkpoints/weights.35.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 36/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7375
Epoch 37/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7378
Epoch 38/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 39/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7375
Epoch 40/200
799/804 [============================>.] - ETA: 0s - loss: 0.5410 - accuracy: 0.7380
Epoch 40: saving model to optimized_checkpoints/weights.40.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7381
Epoch 41/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7375
Epoch 42/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 43/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 44/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7381
Epoch 45/200
790/804 [============================>.] - ETA: 0s - loss: 0.5416 - accuracy: 0.7368
Epoch 45: saving model to optimized_checkpoints/weights.45.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7374
Epoch 46/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7379
Epoch 47/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7387
Epoch 48/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7381
Epoch 49/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7378
Epoch 50/200
801/804 [============================>.] - ETA: 0s - loss: 0.5403 - accuracy: 0.7375
Epoch 50: saving model to optimized_checkpoints/weights.50.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7376
Epoch 51/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7384
Epoch 52/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7380
Epoch 53/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7386
Epoch 54/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7381
Epoch 55/200
785/804 [============================>.] - ETA: 0s - loss: 0.5400 - accuracy: 0.7375
Epoch 55: saving model to optimized_checkpoints/weights.55.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7375
Epoch 56/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7381
Epoch 57/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7392
Epoch 58/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7383
Epoch 59/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7387
Epoch 60/200
770/804 [===========================>..] - ETA: 0s - loss: 0.5395 - accuracy: 0.7384
Epoch 60: saving model to optimized_checkpoints/weights.60.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7387
Epoch 61/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7389
Epoch 62/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7393
Epoch 63/200

804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7386
Epoch 64/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 65/200
774/804 [===========================>..] - ETA: 0s - loss: 0.5394 - accuracy: 0.7385
Epoch 65: saving model to optimized_checkpoints/weights.65.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7383
Epoch 66/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7381
Epoch 67/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7392
Epoch 68/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7387
Epoch 69/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7390
Epoch 70/200
797/804 [============================>.] - ETA: 0s - loss: 0.5391 - accuracy: 0.7392
Epoch 70: saving model to optimized_checkpoints/weights.70.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7392
Epoch 71/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7382
Epoch 72/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7393
Epoch 73/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 74/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 75/200
802/804 [============================>.] - ETA: 0s - loss: 0.5387 - accuracy: 0.7393
Epoch 75: saving model to optimized_checkpoints/weights.75.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7394
Epoch 76/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7393
Epoch 77/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7381
Epoch 78/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7390
Epoch 79/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7391
Epoch 80/200
770/804 [===========================>..] - ETA: 0s - loss: 0.5382 - accuracy: 0.7395
Epoch 80: saving model to optimized_checkpoints/weights.80.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7392
Epoch 81/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7390
Epoch 82/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7396
Epoch 83/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 84/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7392
Epoch 85/200
763/804 [===========================>..] - ETA: 0s - loss: 0.5381 - accuracy: 0.7386
Epoch 85: saving model to optimized_checkpoints/weights.85.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7391
Epoch 86/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7387
Epoch 87/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7393
Epoch 88/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7382
Epoch 89/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7399
Epoch 90/200
803/804 [============================>.] - ETA: 0s - loss: 0.5384 - accuracy: 0.7387
Epoch 90: saving model to optimized_checkpoints/weights.90.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7387
Epoch 91/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7390
Epoch 92/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 93/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7382
Epoch 94/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7388
Epoch 95/200
798/804 [============================>.] - ETA: 0s - loss: 0.5390 - accuracy: 0.7383
Epoch 95: saving model to optimized_checkpoints/weights.95.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7383
Epoch 96/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7393
Epoch 97/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7390
Epoch 98/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 99/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7392
Epoch 100/200
792/804 [============================>.] - ETA: 0s - loss: 0.5380 - accuracy: 0.7396
Epoch 100: saving model to optimized_checkpoints/weights.100.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7397
Epoch 101/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7392
Epoch 102/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7386
Epoch 103/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7388
Epoch 104/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 105/200
798/804 [============================>.] - ETA: 0s - loss: 0.5376 - accuracy: 0.7393
Epoch 105: saving model to optimized_checkpoints/weights.105.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7392
Epoch 106/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 107/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 108/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7399
Epoch 109/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 110/200
794/804 [============================>.] - ETA: 0s - loss: 0.5370 - accuracy: 0.7386
Epoch 110: saving model to optimized_checkpoints/weights.110.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7388
Epoch 111/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 112/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7397
Epoch 113/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 114/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 115/200
776/804 [===========================>..] - ETA: 0s - loss: 0.5372 - accuracy: 0.7399
Epoch 115: saving model to optimized_checkpoints/weights.115.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 116/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7397
Epoch 117/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 118/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7399
Epoch 119/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 120/200
792/804 [============================>.] - ETA: 0s - loss: 0.5365 - accuracy: 0.7396
Epoch 120: saving model to optimized_checkpoints/weights.120.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 121/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7397
Epoch 122/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7393
Epoch 123/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 124/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7389
Epoch 125/200

801/804 [============================>.] - ETA: 0s - loss: 0.5369 - accuracy: 0.7395
Epoch 125: saving model to optimized_checkpoints/weights.125.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7393
Epoch 126/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 127/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 128/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7389
Epoch 129/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7402
Epoch 130/200
765/804 [===========================>..] - ETA: 0s - loss: 0.5362 - accuracy: 0.7395
Epoch 130: saving model to optimized_checkpoints/weights.130.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 131/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7398
Epoch 132/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 133/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 134/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7401
Epoch 135/200
766/804 [===========================>..] - ETA: 0s - loss: 0.5373 - accuracy: 0.7388
Epoch 135: saving model to optimized_checkpoints/weights.135.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7394
Epoch 136/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 137/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 138/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7398
Epoch 139/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 140/200
763/804 [===========================>..] - ETA: 0s - loss: 0.5367 - accuracy: 0.7393
Epoch 140: saving model to optimized_checkpoints/weights.140.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 141/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 142/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7400
Epoch 143/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7392
Epoch 144/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7399
Epoch 145/200
763/804 [===========================>..] - ETA: 0s - loss: 0.5361 - accuracy: 0.7403
Epoch 145: saving model to optimized_checkpoints/weights.145.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7400
Epoch 146/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7394
Epoch 147/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7392
Epoch 148/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7400
Epoch 149/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7404
Epoch 150/200
800/804 [============================>.] - ETA: 0s - loss: 0.5363 - accuracy: 0.7398
Epoch 150: saving model to optimized_checkpoints/weights.150.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 151/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 152/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7396
Epoch 153/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 154/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7399
Epoch 155/200
762/804 [===========================>..] - ETA: 0s - loss: 0.5374 - accuracy: 0.7395
Epoch 155: saving model to optimized_checkpoints/weights.155.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7400
Epoch 156/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 157/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7396
Epoch 158/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7402
Epoch 159/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 160/200
771/804 [===========================>..] - ETA: 0s - loss: 0.5369 - accuracy: 0.7398
Epoch 160: saving model to optimized_checkpoints/weights.160.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 161/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 162/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7399
Epoch 163/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 164/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 165/200
797/804 [============================>.] - ETA: 0s - loss: 0.5360 - accuracy: 0.7398
Epoch 165: saving model to optimized_checkpoints/weights.165.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7396
Epoch 166/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7395
Epoch 167/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7400
Epoch 168/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 169/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7402
Epoch 170/200
804/804 [==============================] - ETA: 0s - loss: 0.5359 - accuracy: 0.7399
Epoch 170: saving model to optimized_checkpoints/weights.170.hdf5
804/804 [==============================] - 569s 709ms/step - loss: 0.5359 - accuracy: 0.7399
Epoch 171/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 172/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7403
Epoch 173/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 174/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7402
Epoch 175/200
802/804 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7400
Epoch 175: saving model to optimized_checkpoints/weights.175.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 176/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 177/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 178/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7395
Epoch 179/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 180/200
766/804 [===========================>..] - ETA: 0s - loss: 0.5363 - accuracy: 0.7400
Epoch 180: saving model to optimized_checkpoints/weights.180.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7404
Epoch 181/200
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 182/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 183/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 184/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 185/200
801/804 [============================>.] - ETA: 0s - loss: 0.5358 - accuracy: 0.7400
Epoch 185: saving model to optimized_checkpoints/weights.185.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7402

Epoch 186/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7404
Epoch 187/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7398
Epoch 188/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 189/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7405
Epoch 190/200
804/804 [==============================] - ETA: 0s - loss: 0.5356 - accuracy: 0.7402
Epoch 190: saving model to optimized_checkpoints/weights.190.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7402
Epoch 191/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 192/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 193/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7402
Epoch 194/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7401
Epoch 195/200
784/804 [============================>.] - ETA: 0s - loss: 0.5354 - accuracy: 0.7398
Epoch 195: saving model to optimized_checkpoints/weights.195.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 196/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7405
Epoch 197/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7400
Epoch 198/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7400
Epoch 199/200
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 200/200
769/804 [===========================>..] - ETA: 0s - loss: 0.5378 - accuracy: 0.7388
Epoch 200: saving model to optimized_checkpoints/weights.200.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7397

In [49]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5584 - accuracy: 0.7312 - 250ms/epoch - 932us/step
Loss: 0.558426022529602, Accuracy: 0.731195330619812